header {
  width: auto;
  height: auto;
}
.section_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: auto;
  height: auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  margin-left: 70px;
}
.logo svg {
  width: 30px;
  height: auto;
  cursor: pointer;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease;
  position: absolute;
  left: 35px;
  top: 45px;
  z-index: 30;
}
.logo svg:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.profil_img {
  display: flex;
  align-items: center;
  gap: 40px;
}
.profil_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease;
}
.profil_img img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.list_btn_box {
  display: none;
}
.list_btn {
  display: flex;
  gap: 20px;
  width: 400px;
}
.list_btn a {
  align-items: center;
  display: flex;
  gap: 10px;
  text-decoration: none;
  width: 100%;
  height: auto;
  cursor: pointer;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.511);
  padding: 7px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: rgb(20, 33, 119);
}
.list_btn a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.list_btn a p {
  color: rgb(32, 25, 96);
  font-size: 16px;
}
.list_btn svg {
  width: 30px;
  height: 30px;
}
.hidden {
  display: none;
}

.visible {
  display: block;
  width: 150px;
}

#loGin,
#sogin {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#listBtn.visible #loGin,
#listBtn.visible #sogin {
  opacity: 1;
  transition-delay: 0.5s;
}
