.static_contaner_section {
  width: auto;
  max-width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.contaner_info {
  min-width: 10px;
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.log_num {
  display: flex;
  align-items: center;
  gap: 15px;
}
.log_num svg {
  width: 30px;
  height: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  padding: 10px;
  border-radius: 10px;
}
.log_num h2 {
  font-size: 36px;
}
.contaner_info p {
  font-size: 18px;
  margin-top: 20px;
}
/* section_statestik */
/* statestik_box */
.section_statistik {
  padding-top: 20px;
  width: auto;
  height: auto;
  display: flex;
  max-width: 100%;
  gap: 15px;
}
.statistik_box {
  width: 100%;
  height: auto;
}
/* progres */
.progres {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 15px;
}
.progress_box {
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* attent_box */
.attent_box {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 15px;
}
.attent {
  width: 40%;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.grade {
  width: 60%;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.announcements {
  margin-top: 20px;
  width: auto;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* time_box */
.time_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: auto;
}
.tasks {
  width: auto;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.tasks_box {
  width: auto;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
