* {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}
body {
  padding: 5px;
  background: linear-gradient(to right, #a3c1e0, #b7c9e2, #d2c7e5);
}
.section_container {
  background: linear-gradient(to right, #a3c1e0, #b7c9e2, #f2c5d6);
  background-repeat: no-repeat;
  border-radius: 30px; /* Yumshoq qirralar */
  border: 3px solid #ffffff; /* Oq rangli chegara */
  padding: 20px; /* Ichki masofa */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: auto;
  min-width: 280px;
  height: auto;
}
.contaner_box {
  border-radius: 20px; /* Yumshoq qirralar */
  border: 2px solid #ffffff; /* Oq rangli chegara */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background-color: rgba(22, 188, 171, 0.1);
  display: flex;
  gap: 10px;
}
.hed_main {
  padding: 35px;
  width: 100%;
}
main {
  padding-top: 20px;
}
