.menu {
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(226, 237, 236, 0.664);
  border-radius: 20px;
  transition: width 0.5s ease;
  display: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
}
.menu.show {
  display: block;
  transform: translateX(0); /* O'ngga to'g'rilash */
}
.menu article {
  margin-top: 110px;
  margin-bottom: 60px;
  padding: 0 30px 0 40px;
  transition: 0.3s ease;
}
.menu article a {
  text-decoration: none;
}
.menu article a button {
  width: 220px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  background: none;
  font-size: 18px;
  transition: 0.3s ease;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.menu article a button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.menu article a button.show {
  display: block;
  opacity: 0;
}
.menu article a button svg {
  width: 20px;
  height: 20px;
}
